{% extends "blog_app/base.html" %}



{% block posteos %}
<main class="container py-5">
    <section class="card cad-body">
        <div class="col-md-10 offset-md-1 mt-5">
            <h1>Acerca de:</h1>
            <p>
            Esta web fue creada por Maximiliano Gonzalez<br>
            Para el proyecto final de CODEHOUSE<br>
            Utilizando lenguaje Python y el framework Django<br>
            En agradecimiento a todos, el profe Pedro y los tutores Anderson y Jose<br>
            </p>
        </div>
    </section>
</main>
{% endblock posteos %}