{% extends "blog_app/base.html" %}


{% block posteos %}
<main class="container py-5">
    <section class="card cad-body">
        <h1 class="mt-4"><center>{{mensaje}}</center></h1>
        {% for post in posteos reversed %}
        <hr class="divider" />
            <tr>
                <td>{{post.titulo}}<br>
                    {{post.contenido|safe}}<br>
                    Autor: {{post.usuario}} - {{post.fecha_publicacion}}
                </td>
            </tr>
        {% endfor %}
    </section>
</main>
{% endblock posteos %}
