{% extends "blog_app/base.html" %}


{% block posteos %}
<main class="container py-5">
    <h1><center>{{mensaje}}</center></h1>
    {% for post in posteos reversed %}
    <section class="card cad-body">
        {% if post.imagen %}
        <h4>Imagen de portada</h4>
        <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" style="width: 200px; height: auto;">
        {% endif %}
    </section>
    <section class="card cad-body">
        <hr class="divider" />
            <tr>
                <td><h1>{{post.titulo}}</h1>
                    {{post.contenido|safe}}<br>
                    Autor: {{post.usuario}} - {{post.fecha_publicacion}}
                </td>
            </tr>
    </section>
    {% endfor %}
</main>
{% endblock posteos %}
