{% extends "blog_app/base.html" %}



{% block contenido %}
    <main class="container py-5 align-items-center">
        <h1 class="text-center display-3">Crear post</h1>
        <section class="card cad-body">
            {{error}}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <h5 class="te">Titulo</h5>
                        {{form.titulo}}
                    </div>
                    <div>
                        {{form.contenido}}
                        {{form.media}}
                        <h6>Imagen de portada</h6>{{form.imagen}}
                    </div>
                    <button class="btn btn-outline-success">
                        Crear
                    </button>
                </form>
        </section>
    </main>
{% endblock contenido %}