{% extends "blog_app/base.html" %}




{% block posteos %}
    <main class="container py-5">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                {% for post in posteos reversed %}
                <div class="card" style="width: 40rem;">
                    {% if post.imagen %}
                    <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" style="width: 50px; height: auto;">
                    {% endif %}
                    <div class="card-body">
                    <h5 class="card-title">{{post.titulo}}</h5>
                    <p class="card-text">Autor: {{post.usuario}} - {{post.fecha_publicacion}}</p>
                    <a href="{% url 'post_detalle'  post.id %}" class="btn btn-primary">Ver mas</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-6">
                <div class="card" style="width: 20rem; height: 15rem;">
                  <div class="card-body">
                    <h5 class="card-title">Acerca de:</h5>
                    <p class="card-text">Pagina creada por Maximiliano para CODERHOUSE.</p>
                    <a href="{% url 'about' %}" class="btn btn-primary">Ver mas</a>
                  </div>
                </div>
              </div>
        </div>
{% endblock %}
<img src="" alt="">