{% extends "blog_app/base.html" %}




{% block posteos %}
    <main class="container py-5">
        {% for post in posteos reversed %}
        <section class="card cad-body">
                        <li>
                            {{post.titulo}}
                            {{post.contenido|safe}}
                            Autor: {{post.usuario}} - {{post.fecha_publicacion}}
                        </li>
                    {% empty %}
                    <h1 class="text-center">No se encontraron entradas.</h1>
        </section>
        {% endfor %}
    </main>
{% endblock %}