{% extends "blog_app/base.html" %}



{% block contenido %}
<main class="container py-5">
    <section class="card cad-body">
        <div>
            <h1 class="text-center"> {{error}} </h1>
        <h1 class="text-center">Post original</h1>
        <li>
            {{detalle.titulo}}
            {{detalle.contenido|safe}}
            Autor: {{detalle.usuario}} - {{detalle.fecha_publicacion}}
        </li>
        </div>
        <div>
            <h1 class="text-center">Editar</h1>
        <form method="POST">
            {% csrf_token %}
            {{form_upd.as_p}}
            {{form_upd.media}}
            <button>
                Update
            </button>
        </form>
        </div>
    </section>
</main>
{% endblock contenido %}