{% extends "blog_app/base.html" %}



{% block contenido %}
<main class="container py-5">
    <section class="card cad-body">
        <h1 class="text-center">
            Vista Post detalle
        </h1>
    </section>
    <section>
        {% if posteo.imagen %}
        <h4>Imagen de portada</h4>
        <img src="{{ posteo.imagen.url }}" alt="{{ posteo.titulo }}" style="width: 200px; height: auto;">
        {% endif %}
    </section>
    <section class="card cad-body">
        <div>
        <h1 class="text-center"> {{error}} </h1>
        <li>
            {{posteo.titulo}}
            {{posteo.contenido|safe}}
            Autor: {{posteo.usuario}} - {{detalle.fecha_publicacion}}
        </li>
        </div>
    </section>
    {% if user.is_authenticated %}
    <section class="card cad-body">
        <h3>Deja tu comentario</h3>
        <form method="POST">
            {% csrf_token %}
            {{form.comentario}}
            {{form.media}}
            <button class="btn btn-outline-success">
                Enviar
            </button>
        </form>
    </section>
    {% endif %}
    <section class="card cad-body">
        {% for comentario in comentarios reversed %}
            <section class="card cad-body">
                <div class="comment">
                    <p class="comment-author">{{ comentario.autor }}</p>
                    <p class="comment-date">{{ comentario.fecha_publicacion }}</p>
                    <p class="comment-content">{{ comentario.comentario|safe }}</p>
                </div>
            </section>
        {% endfor %}
    </section>
</main>
{% endblock contenido %}